<h1 class="text-center">Spanglish library</h1>
<form class="form-inline text-right">
    <div class="form-group">
        <label>Search:</label>
        <input class="form-control" type="text" name="filter" ng-model="booksFilter.title">
    </div>
    <div class="form-group">
        <label>Order by: </label>
        <select class="form-control" ng-model="sortBooks">
            <option value="id">ID</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="editorial">Editorial</option>
        </select>
    </div>
</form>
<br>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="book in booksData | filter: booksFilter:strict | orderBy: sortBooks">
        <div class="media">
            <div class="media-left media-middle" ng-controller="BookSheetController as bookPage">
                <!-- <a ng-click="bookPage.saveData(book.id,book.title,book.author,book.editorial,book.description,book.img)" class="btn btn-primary">Save data</a>
                <p>{{bookPage.bookId}}</p>
                <p>{{bookPage.title}}</p>
                <p>{{bookPage.author}}</p>
                <p>{{bookPage.editorial}}</p>
                <p>{{bookPage.description}}</p>
                <p>{{bookPage.img}}</p> -->
                <a href="#">
                    <img ui-sref="bookTab({id:book.id})" ng-src="{{ book.img }}" class="media-object" width="175px" height="auto" ng-click="bookPage.saveData(book.id,book.title,book.author,book.editorial,book.description,book.img)" />
                </a>
            </div>
            <div class="media-body">
                <!-- <mark>ID: {{ book.id }}</mark> -->
                <h2>{{ book.title }}</h2>
                <h3>{{ book.author }}</h3>
                <h4>{{ book.editorial }}</h4>
                <p>{{ book.description }}</p>
            </div>
        </div>
    </li>
</ul>
<p class="miniP text-center">Psst! Dont write the word <mark>magic</mark> in this website...</p>
